[Unit]
Description=Persistent orb workspace
Requires=pi-orb-workspace.service
After=pi-orb-workspace.service
Before=pi-orb-bootstrap.service docker.service containerd.service
OnFailure=pi-orb-boot-failure@workspace.mount.service

[Mount]
What=/dev/disk/by-id/google-pi-orb-data
Where=/workspace
Type=ext4
Options=defaults,discard
TimeoutSec=30

[Install]
WantedBy=multi-user.target
