.git
.context
.amp
**/node_modules
**/dist
**/coverage
**/.terraform
**/*.tfstate
**/*.tfstate.*
**/*.plan
**/*.plan.*
**/*.tfplan
**/*.tfplan.*
**/.env*
**/gha-creds-*.json
test-failures
**/__pycache__
